/*Global styles*/
* {
  font-family: 'Abel', sans-serif;
  text-align: left;
}

.clearfix {
  clear: both;
}

body {
  width: 900px;
  margin: 0 auto;
  text-align: left;
}

/*Header styles*/
header {
  display: inline-block;
  padding-top: 20px;
  width: 900px;
}

.headerlogo {
  display: inline-block;
  float: left;
  margin-right: 350px;
}

.socialmedia > ol {
  float: right;
}

.socialmedia li {
  float: left;
  margin: 2px;
}

.socialmedia li.lastone {
  margin-right: 10px;
}

header .fork {
  display: inline-block;
  float: left;
  margin-right: 10px;
}
header p:nth-child(2){
  font-family: 'Yellowtail', cursive;
  font-size: 35px;
  float: left;
  margin-right: 40px;
}

header p:nth-child(3){
  font-family: 'Abel', sans-serif;
  font-size: 10px;
  text-transform: uppercase;
}



/*body styling starts*/

.stripeyline {
  margin: 20px 0;
  background-image: repeating-linear-gradient(45deg, transparent, transparent 1px, rgb(211, 211, 211) 1px, rgb(219, 219, 219) 3px);
  height: 10px;
}

.titleline {
  display:inline-block;
  margin-bottom: 20px;
}

h1 {
  font-family: Oswald, sans-serif;
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 7px;
  margin-top: 20px;
}

.print {
  float: right;
}

.print > img {
  display: inline-block;
}

.titleline > .posted {
  display: inline-block;
  margin-right: 590px;
}

.print > p {
  display: inline-block;
  color: grey;
  text-transform: uppercase;
}

.hero {
  width: 900px;
  height: 600px;
}

.instructions > p {
  font-family: 'Droid Serif', serif;
  font-weight: lighter;
  margin-top: 15px;
  margin-bottom: 25px;
  text-indent: 20px;
  letter-spacing: 0.65px;
  line-height: 1.2;
}

.recipe > ol > li {
  text-indent: 80px;
  line-height: 1.9;
  font-family: "Comic Sans MS", cursive, sans-serif;
  color: darkolivegreen;
  background-color: rgba(255,255,255,0)
}

.recipe > img {
  position: relative;
  z-index: 9;
  float: right;
}

.columnleft {
  margin-top: 40px;
  position: absolute;
  float: right;
  z-index: 999999999999;
  background-color: rgba(255,255,255,0);
}

.columnright {
  margin-top: 40px;
  float: right;
  margin-left: 400px;
  position: absolute;
  z-index: 9999;
  background-color: rgba(255,255,255,0);
}

input[type="checkbox"]:checked ~ span {
  text-decoration: line-through;
}

label {
  background-color: transparent;
}

.endblurb > div, button {
  display: inline-block;
}

.bio {
  position: relative;
  display: inline-block;
  width: 560px;
}

.bio > img {
  float: left;
  margin-right: 10px;
  margin-top: 10px;
}

.bio > p {
  margin-top: 10px;
  font-family: 'Abel', serif;
}

h3 {
  display: inline-block;
  font-family: 'Droid Serif', serif;
  font-size: 20px;
  font-weight: bold;
  margin-top: 20px;
}

.share {
  position: relative;
  float: right;
  font-family: 'Abel', serif;
  margin-top: 20px;
  background-color: #bb7056;
  color: white;
  width: 150px;
  height: 40px;
  text-transform: uppercase;
}

footer {
  margin: 0 auto;
  text-align: center;
  color: gray;
  font-family: 'Abel', serif;
}

footer .hrimage {
  height: 2px;
  background: grey;
  overflow: visible;
  margin: 30px 0;
}

footer .hrimage img {
  margin-top: -15px;
}

.footertext {
  line-height: 1.2;
  margin-top: 20px;
}

/*Note to self: button color: #bb7056*/
/*Fonts:
font-family: 'Abel', sans-serif;
font-family: 'Oswald', sans-serif;
font-family: 'Yellowtail', cursive;
font-family: 'Droid Serif', serif;
*/
