/*Global styles*/
* {
  font-family: 'Abel', sans-serif;
  background-color: #FFF;
}

.clearfix {
  clear: both;
}

body {
  width: 900px;
  margin: 0 auto;
}

/*Header styles*/
header {
  display: inline-block;
  padding-top: 20px;
  width: 900px;
}

.headerlogo {
  display: inline-block;
  float: left;
  margin-right: 350px;
}

.socialmedia, .rssemail > ol {
  display: inline-block;
  float: left;
}

.socialmedia, .rssemail > li{
  display:inline-block;
}

header .fork {
  display: inline-block;
  float: left;
  margin-right: 10px;
}
header p:nth-child(2){
  font-family: 'Yellowtail', cursive;
  font-size: 35px;
  float: left;
  margin-right: 40px;
}

header p:nth-child(3){
  font-family: 'Abel', sans-serif;
  font-size: 10px;
  text-transform: uppercase;
}



/*body styling starts*/

div > .stripeyline {
  background-color: gray;
  background-image: repeating-linear-gradient(45deg, transparent, transparent 35px, rgba(255,255,255,.5) 35px, rgba(255,255,255,.5) 70px);
}
.titleline {
  display:inline-block;
  margin-bottom: 20px;
}

h1 {
  font-family: Oswald, sans-serif;
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 7px;
}

.print {
  float: right;
}

.print > img {
  display: inline-block;
}

.titleline > .posted {
  display: inline-block;
  margin-right: 590px;
}

.print > p {
  display: inline-block;
  text-transform: uppercase;
}

.hero {
  width: 900px;
  height: 600px;
}

.instructions > p {
  font-family: Georgia;
  /*Note: I think there is funky kerning on the font or something*/
  margin-top: 15px;
  margin-bottom: 25px;
  text-indent: 20px;
  letter-spacing: 0.65px;
  line-height: 1.2;
}

.recipe > img {
  position: relative;
}

.columnright, .columnleft {
  float: right;
  position: absolute;
  background-color: none;
}


.strike {
  text-decoration: line-through;
}


/*Note to self: button color: #bb7056*/
/*Fonts:
font-family: 'Abel', sans-serif;
font-family: 'Oswald', sans-serif;
font-family: 'Yellowtail', cursive;
font-family: 'Droid Serif', serif;
*/
